# Desert Rock bands analysis with JSON, GraphQL, and SQL/PGQ

### Ludovico Caldara

<img style="float: left; padding: 0px 30px 0px 0px" src="images/ludovico.png" width="200">

**Senior Principal Product Manager @ Oracle**
* 23 years in IT (Databases), 3 in Oracle
* Italian in Switzerland
* Former Oracle ACE Director
* @ludovico.bsky.social  @ludodba  

I've always been passionate about music (many genres). One of my hobbies is discovering more about the bands I like on Wikipedia. Many years ago, I found that the [Palm Desert Scene](https://en.wikipedia.org/wiki/Palm_Desert_Scene) was a thing (I used to listen to a few Desert Rock bands before), and I was fascinated by the connections between bands.
In 2023, during the Oracle Database 23c Beta Testing phase, I heard about JSON Relational Duality Views, in my opinion, a game-changer technology, and decided to start a proof of concept for collecting band information from Wikipedia as JSON documents and store them as relational to profit from the different access methods that the Oracle's converged database approach offers.

This Jupyter notebook is part of the result of my small personal project. Most of the code is Python.

In [1]:
import sys
import time
import json
import logging
import oracledb
from pyvis.network import Network
from prettytable import PrettyTable
from IPython.display import HTML, display
import pandas as pd
import json
import mw_musical_artist
import artist
from HelperFunctions import execute_plsql_and_dbmsoutput, execute_plsql, render_graph, render_query, compare_performance
from artist import NoMusicalInfoboxException
from MongoFactory import mongo_db

FORMAT = '%(asctime)s - %(levelname)-8s - %(funcName)-15s - %(message)s'
logging.basicConfig(format=FORMAT, level=logging.ERROR)

%reload_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False
pd.set_option('display.max_colwidth', None)

pd.set_option('display.max_colwidth', None)

# The following is just a helper function to get the curren connection
def get_notebook_oracle_connection() -> object:
    # Ask ipython-sql for the current connection and assuming we want the first one
    connections = %sql l / --connections
    alchemy_connection = connections[next(iter(connections))]
    return alchemy_connection.internal_connection.connection.dbapi_connection

## Get the JSON from the Kyuss Wikipedia page infobox

Musical artist pages on Wikipedia have an infobox that *should* follow this template: https://en.wikipedia.org/wiki/Template:Infobox_musical_artist

However, by not having any schema validation, the Wikipedia community can basically insert whatever they want. This leads to horrible data quality and some tedious work for extracting the correct data. I have written a MWMusicalArtist class for that.

In [3]:
kyuss = mw_musical_artist.MWMusicalArtist("Kyuss").getDict()

In [4]:
print(json.dumps(kyuss, indent=4))

{
    "name": "Kyuss",
    "image": "OldKyuss.jpg",
    "caption": "Kyuss {{circa|1992}}. Left to right: [[Josh Homme]], [[Brant Bjork]], [[John Garcia (singer)|John Garcia]], [[Nick Oliveri]].",
    "landscape": "Yes",
    "background": "group_or_band",
    "origin": "[[Palm Desert, California]], U.S.",
    "alias": [
        {
            "name": "Katzenjammer (1987\u20131989)"
        },
        {
            "name": "Sons of Kyuss (1989\u20131991)"
        }
    ],
    "discography": "[[Kyuss discography]]",
    "genre": [
        {
            "link": "Stoner rock",
            "name": "Stoner rock"
        },
        {
            "link": "Palm Desert Scene",
            "name": "desert rock"
        },
        {
            "link": "Heavy metal music",
            "name": "heavy metal"
        }
    ],
    "years_active": "1987\u20131995",
    "label": [
        {
            "name": "Dali"
        },
        {
            "link": "Chameleon Records",
            "name": "Chameleon"
        },
        {
            "link": "Elektra Records",
            "name": "Elektra"
        },
        {
            "link": "Bong Load Custom Records",
            "name": "Bong Load"
        },
        {
            "link": "Man's Ruin",
            "name": "Man's Ruin"
        }
    ],
    "spinoffs": [
        {
            "link": "Vista Chino",
            "name": "Vista Chino"
        },
        {
            "link": "Queens of the Stone Age",
            "name": "Queens of the Stone Age"
        },
        {
            "link": "Mondo Generator",
            "name": "Mondo Generator"
        },
        {
            "link": "Ch\u00e9 (band)",
            "name": "Ch\u00e9"
        },
        {
            "link": "Unida",
            "name": "Unida"
        },
        {
            "link": "Hermano (band)",
            "name": "Hermano"
        },
        {
            "link": "Slo Burn",
            "name": "Slo Burn"
        },
        {
            "link": "The Desert Sessions",
            "name": "The Desert Sessions"
        },
        {
            "link": "Eagles of Death Metal",
            "name": "Eagles of Death Metal"
        },
        {
            "link": "Ten East",
            "name": "Ten East"
        },
        {
            "link": "St\u00f6ner",
            "name": "St\u00f6ner"
        }
    ],
    "past_members": [
        {
            "link": "Josh Homme",
            "name": "Josh Homme"
        },
        {
            "link": "John Garcia (singer)",
            "name": "John Garcia"
        },
        {
            "link": "Scott Reeder (bassist)",
            "name": "Scott Reeder"
        },
        {
            "link": "Alfredo Hern\u00e1ndez",
            "name": "Alfredo Hern\u00e1ndez"
        },
        {
            "name": "Chris Cockrell"
        },
        {
            "link": "Brant Bjork",
            "name": "Brant Bjork"
        },
        {
            "link": "Nick Oliveri",
            "name": "Nick Oliveri"
        }
    ],
    "link": "Kyuss",
    "discovered": true
}

## Get the JSON from the Brant Bjork Wikipedia page infobox

In [5]:
brant = mw_musical_artist.MWMusicalArtist("Brant Bjork").getDict()

In [7]:
print(json.dumps(brant, indent=4))

{
    "name": "Brant Bjork",
    "image": "Brant Bjork-Kyuss-IMG 5771.jpg",
    "caption": "Brant Bjork at the Eurock\u00e9ennes de [[Belfort]], 2011",
    "birth_date": "{{Birth date and age|1973|03|19}}",
    "birth_place": "[[Redlands, California]], U.S.",
    "origin": "[[Palm Springs, California]], U.S.",
    "genre": [
        {
            "link": "Stoner rock",
            "name": "Stoner rock"
        },
        {
            "link": "Palm Desert Scene",
            "name": "desert rock"
        },
        {
            "link": "Heavy metal music",
            "name": "heavy metal"
        },
        {
            "link": "hardcore punk",
            "name": "hardcore punk"
        }
    ],
    "discography": "[[Brant Bjork discography]]",
    "occupation": [
        {
            "name": "Musician"
        },
        {
            "name": "singer"
        },
        {
            "name": "songwriter"
        },
        {
            "name": "record producer"
        }
    ],
    "years_active": "1987\u2013present",
    "instrument": [
        {
            "name": "Drums"
        },
        {
            "name": "vocals"
        },
        {
            "name": "guitar"
        },
        {
            "name": "bass"
        }
    ],
    "label": [
        {
            "name": "El Camino"
        },
        {
            "link": "Duna Records",
            "name": "Duna"
        },
        {
            "link": "Man's Ruin Records",
            "name": "Man's Ruin"
        },
        {
            "name": "Low Desert Punk"
        },
        {
            "link": "Napalm Records",
            "name": "Napalm"
        },
        {
            "name": "Heavy Psych Sounds"
        }
    ],
    "current_member_of": [
        {
            "link": "St\u00f6ner",
            "name": "St\u00f6ner"
        },
        {
            "name": "Brant Bjork Trio"
        }
    ],
    "past_member_of": [
        {
            "link": "Kyuss",
            "name": "Kyuss"
        },
        {
            "link": "Fu Manchu (band)",
            "name": "Fu Manchu"
        },
        {
            "link": "Vista Chino",
            "name": "Vista Chino"
        },
        {
            "name": "Brant Bjork and the Bros"
        },
        {
            "name": "Brant Bjork and the Low Desert Punk Band"
        },
        {
            "link": "Ch\u00e9 (band)",
            "name": "Ch\u00e9"
        },
        {
            "link": "Mondo Generator",
            "name": "Mondo Generator"
        },
        {
            "link": "The Desert Sessions",
            "name": "The Desert Sessions"
        },
        {
            "name": "De-Con"
        },
        {
            "link": "Blast (band)",
            "name": "LAB"
        },
        {
            "link": "Ten East",
            "name": "Ten East"
        },
        {
            "link": "Fatso Jetson",
            "name": "Fatso Jetson"
        }
    ],
    "website": "{{URL|brantbjork.net}}",
    "link": "Brant Bjork",
    "discovered": true
}

## Insert the raw JSON into MongoDB

We can already notice three things:
* The documents have two different paths (`{band {members[person]}}` vs. `{artist {member_of[band]}}`.
* The items do not necessarily respect the infobox template.
* The nested items contain doplicated data.
  
However, the JSON documents look OK.

The easiest way one can think about to persist data is to insert the documents in a document store. MongoDB looks like the most popular and easiest, so we use **pymongo** to insert the data.

We create the collection `mongo_artist` and insert the two documents:

In [8]:
mongo_artist = mongo_db["mongo_artist"]
mongo_artist.drop()
res = mongo_artist.insert_one(kyuss)
res = mongo_artist.insert_one(brant)

In [10]:
for document in list(mongo_artist.find()):
  print(document["name"])

Kyuss
Brant Bjork

## Problems of the raw JSON approach

* Semi-structured data requires schema validation. It's possible in MongoDB, Oracle Database, PostgreSQL (with extensions), and other JSON-compatible databases.

## Problems of the JSON approach in general

* JSON documents are easy to maintain as long as you access the data using the same path.  e.g.:
  * Band -> Member
  * Customer -> Order -> Order Item
 
  Trying to access the same data using another path in JSON leads to data architecture problems, among others.
  
  Don't believe me? Check this out: https://dev.to/mongodb/mongodb-design-reviews-how-applying-schema-design-best-practices-resulted-in-a-60x-performance-improvement-56m5

  <img src="./images/mongo-design.png" alt="QR Code to the mongoDB article" width="350"/>
  
## Better approach: use the relational model!

### We have bands, members, spinoffs, genres, labels... "That belongs in a Table!"

* The relational model is more evolutive (some people try to make you believe the opposite).
* SQL is a declarative language that abstracts how data is accessed. Change of access path -> no problem!
* JSON ties you to a specific business object that might not be suitable for other applications.

### But... the impedance mismatch?

* **We want to avoid rewriting the code with ORMs to change the model**

## Let's see how we can solve that problem. First step: I'm working on an Oracle Database already!

Oracle REST Data Services (ORDS) provides REST interfaces to the database.
* AutoREST exposes tables automatically as RESTful web services
* Simple manual REST configurations use views and PL/SQL procedures to expose the RESTful web services.

**Optionally, it provides MongoDB-compatible APIs**. [That is what we are using.](https://docs.oracle.com/en/database/oracle/oracle-rest-data-services/22.3/ordig/oracle-api-mongodb-support.html#GUID-8C4D54C1-C2BF-4C94-A2E4-2183F25FD462)


![ORDS exposes MongoDB APIs to the application to access the database](./images/ords-mongodb.png)

In [2]:
%sql oracle+oracledb://bands:BandsBands##123@bands0.dbbands/?service_name=pbands_rw

## How does the MongoDB collection look like in Oracle?

In [3]:
%%sql
select column_name, data_type from user_tab_columns where table_name='MONGO_ARTIST'

     column_name     data_type
0             ID           RAW
1     CREATED_ON  TIMESTAMP(6)
2  LAST_MODIFIED  TIMESTAMP(6)
3        VERSION      VARCHAR2
4           DATA          JSON

In [4]:
%%sql
select a.data.name, json_serialize(a.data) from mongo_artist a

,name,JSON_SERIALIZE(A.DATA)
0,Kyuss,"{""_id"":""652814965dce70660f388d03"",""discography"":""[[Kyuss discography]]"",""past_members"":[{""link"":""Josh Homme"",""name"":""Josh Homme""},{""link"":""John Garcia (singer)"",""name"":""John Garcia""},{""link"":""Scott Reeder (bassist)"",""name"":""Scott Reeder""},{""link"":""Alfredo Hernández"",""name"":""Alfredo Hernández""},{""name"":""Chris Cockrell""},{""link"":""Brant Bjork"",""name"":""Brant Bjork""},{""link"":""Nick Oliveri"",""name"":""Nick Oliveri""}],""origin"":""[[Palm Desert, California]], U.S."",""alias"":[{""name"":""Katzenjammer (1987–1989)""},{""name"":""Sons of Kyuss (1989–1991)""}],""caption"":""Kyuss {{circa|1992}}. Left to right: [[Josh Homme]], [[Brant Bjork]], [[John Garcia (singer)|John Garcia]], [[Nick Oliveri]]."",""link"":""Kyuss"",""spinoffs"":[{""link"":""Vista Chino"",""name"":""Vista Chino""},{""link"":""Queens of the Stone Age"",""name"":""Queens of the Stone Age""},{""link"":""Mondo Generator"",""name"":""Mondo Generator""},{""link"":""Ché (band)"",""name"":""Ché""},{""link"":""Unida"",""name"":""Unida""},{""link"":""Hermano (band)"",""name"":""Hermano""},{""link"":""Slo Burn"",""name"":""Slo Burn""},{""link"":""The Desert Sessions"",""name"":""The Desert Sessions""},{""link"":""Eagles of Death Metal"",""name"":""Eagles of Death Metal""},{""link"":""Ten East"",""name"":""Ten East""},{""link"":""Stöner"",""name"":""Stöner""}],""years_active"":""1987–1995"",""background"":""group_or_band"",""genre"":[{""link"":""Stoner rock"",""name"":""Stoner rock""},{""link"":""Palm Desert Scene"",""name"":""desert rock""},{""link"":""Heavy metal music"",""name"":""heavy metal""}],""discovered"":true,""name"":""Kyuss"",""landscape"":""Yes"",""image"":""OldKyuss.jpg"",""label"":[{""name"":""Dali""},{""link"":""Chameleon Records"",""name"":""Chameleon""},{""link"":""Elektra Records"",""name"":""Elektra""},{""link"":""Bong Load Custom Records"",""name"":""Bong Load""},{""link"":""Man's Ruin"",""name"":""Man's Ruin""}]}"
1,Brant Bjork,"{""_id"":""652814965dce70660f388d04"",""discography"":""[[Brant Bjork discography]]"",""birth_place"":""[[Redlands, California]], U.S."",""instrument"":[{""name"":""Drums""},{""name"":""vocals""},{""name"":""guitar""},{""name"":""bass""}],""birth_date"":""{{Birth date and age|1973|03|19}}"",""origin"":""[[Palm Springs, California]], U.S."",""caption"":""Brant Bjork at the Eurockéennes de [[Belfort]], 2011"",""link"":""Brant Bjork"",""years_active"":""1987–present"",""past_member_of"":[{""link"":""Kyuss"",""name"":""Kyuss""},{""link"":""Fu Manchu (band)"",""name"":""Fu Manchu""},{""link"":""Vista Chino"",""name"":""Vista Chino""},{""name"":""Brant Bjork and the Bros""},{""name"":""Brant Bjork and the Low Desert Punk Band""},{""link"":""Ché (band)"",""name"":""Ché""},{""link"":""Mondo Generator"",""name"":""Mondo Generator""},{""link"":""The Desert Sessions"",""name"":""The Desert Sessions""},{""name"":""De-Con""},{""link"":""Blast (band)"",""name"":""LAB""},{""link"":""Ten East"",""name"":""Ten East""},{""link"":""Fatso Jetson"",""name"":""Fatso Jetson""}],""genre"":[{""link"":""Stoner rock"",""name"":""Stoner rock""},{""link"":""Palm Desert Scene"",""name"":""desert rock""},{""link"":""Heavy metal music"",""name"":""heavy metal""},{""link"":""hardcore punk"",""name"":""hardcore punk""}],""website"":""{{URL|brantbjork.net}}"",""discovered"":true,""current_member_of"":[{""link"":""Stöner"",""name"":""Stöner""},{""name"":""Brant Bjork Trio""}],""name"":""Brant Bjork"",""image"":""Brant Bjork-Kyuss-IMG 5771.jpg"",""occupation"":[{""name"":""Musician""},{""name"":""singer""},{""name"":""songwriter""},{""name"":""record producer""}],""label"":[{""name"":""El Camino""},{""link"":""Duna Records"",""name"":""Duna""},{""link"":""Man's Ruin Records"",""name"":""Man's Ruin""},{""name"":""Low Desert Punk""},{""link"":""Napalm Records"",""name"":""Napalm""},{""name"":""Heavy Psych Sounds""}]}"

In [14]:
%%sql
select a.data.name, coalesce(a.data.past_members[*].name, a.data.past_member_of[*].name) as "member or member_of" from mongo_Artist a

,name,member or member_of
0,Kyuss,"[Josh Homme, John Garcia, Scott Reeder, Alfredo Hernández, Chris Cockrell, Brant Bjork, Nick Oliveri]"
1,Brant Bjork,"[Kyuss, Fu Manchu, Vista Chino, Brant Bjork and the Bros, Brant Bjork and the Low Desert Punk Band, Ché, Mondo Generator, The Desert Sessions, De-Con, LAB, Ten East, Fatso Jetson]"

# The relational schema

We are building the schema using this model:

<img alt="relational schema model" src="./images/relational-schema.png" width="800" />

-- This is the DDL script to generate the schema (created outside of the notebook)
create domain artist_type as varchar2(15)
  constraint artist_type_chk check (artist_type in ('person','group_or_band'))
  order      artist_type;

create table artists (
  id               varchar2(30) not null ,
  name             varchar2(255) not null unique,
  link             varchar2(255),
  type             domain artist_type not null,
  extras           JSON,   -- <------------- ADDING THIS TO THE ABOVE MODEL
  discovered       boolean default false,
  error            varchar2(30),
  constraint artists_pk primary key(id)
);


create table genres (
  id               varchar2(30) not null ,
  name             varchar2(255) not null unique,
  constraint genres_pk primary key(id)
);


create table artist_genres (
  id               integer generated by default on null as identity,
  genre_id         varchar2(30) not null ,
  artist_id        varchar2(30) not null ,
  constraint artist_genres_artists_fk foreign key (artist_id) references artists(id),
  constraint artist_genres_genres_fk foreign key (genre_id) references genres(id),
  constraint artist_genres_pk primary key(id)
);

create table labels (
  id               varchar2(30) not null ,
  name             varchar2(255) not null unique,
  constraint labels_pk primary key(id)
);

create table artist_labels (
  id               integer generated by default on null as identity,
  label_id         varchar2(30) not null ,
  artist_id        varchar2(30) not null ,
  constraint artist_labels_artists_fk foreign key (artist_id) references artists(id),
  constraint artist_labels_labels_fk foreign key (label_id) references labels(id),
  constraint artist_labels_pk primary key(id)
);

create table members (
  id               integer generated by default on null as identity,
  band_id          varchar2(30) not null,
  member_id        varchar2(30) not null,
  constraint members_band_fk foreign key (band_id) references artists(id),
  constraint members_member_fk foreign key (member_id) references artists(id),
  constraint members_pk primary key(id)
);

create table spinoffs (
  id               integer generated by default on null as identity,
  band_id          varchar2(30) not null,
  spinoff_id       varchar2(30) not null,
  constraint spinoffs_band_fk foreign key (band_id) references artists(id),
  constraint spinoffs_spinoff_fk foreign key (spinoff_id) references artists(id),
  constraint spinoffs_pk primary key(id)
);

In [5]:
%%sql
select table_name, column_name, data_type
from user_tab_columns 
where table_name in ('ARTISTS','LABELS','GENRES','ARTIST_LABELS','ARTIST_GENRES','SPINOFFS','MEMBERS')
order by table_name, column_id

       table_name column_name data_type
0         ARTISTS          ID  VARCHAR2
1         ARTISTS        NAME  VARCHAR2
2         ARTISTS        LINK  VARCHAR2
3         ARTISTS        TYPE  VARCHAR2
4         ARTISTS      EXTRAS      JSON
5         ARTISTS  DISCOVERED   BOOLEAN
6         ARTISTS       ERROR  VARCHAR2
7   ARTIST_GENRES          ID    NUMBER
8   ARTIST_GENRES    GENRE_ID  VARCHAR2
9   ARTIST_GENRES   ARTIST_ID  VARCHAR2
10  ARTIST_LABELS          ID    NUMBER
11  ARTIST_LABELS    LABEL_ID  VARCHAR2
12  ARTIST_LABELS   ARTIST_ID  VARCHAR2
13         GENRES          ID  VARCHAR2
14         GENRES        NAME  VARCHAR2
15         LABELS          ID  VARCHAR2
16         LABELS        NAME  VARCHAR2
17        MEMBERS          ID    NUMBER
18        MEMBERS     BAND_ID  VARCHAR2
19        MEMBERS   MEMBER_ID  VARCHAR2
20       SPINOFFS          ID    NUMBER
21       SPINOFFS     BAND_ID  VARCHAR2
22       SPINOFFS  SPINOFF_ID  VARCHAR2

## Oracle Database 23c solves the impedance mismatch with the JSON Relational Duality Views 

Announcement blog post: [JSON Relational Duality: The Revolutionary Unification of Document, Object, and Relational Models](https://blogs.oracle.com/database/post/json-relational-duality-app-dev)

![Duality Views transparently convert relational data to JSON, bidirectionally](./images/json-relational.png)

## A first, simple example of Duality View using GraphQL

In the following code, a GraphQL definition maps the items of the documents in the collection `artist_short` to the columns of the table `artists`.

In [6]:
%%sql
create or replace json relational duality view artist_short as
  artists @insert @update @delete @nocheck
  {
    _id     : id
    name    : name
    link    : link
    type    : type
    extras  : extras
    discovered : discovered
    error   : error
  }

Empty DataFrame
Columns: []
Index: []

### Let's test this simple view with a document

The following code won't produce the desired effect, as we want to have `genre`, `label`, and `members` to be stored in their respective tables.

In [8]:
example=dict({
    "name": "Example Band",
    "link": "Example Band",
    "type": "group_or_band",
    "discovered": True,
	"error": "",
    "extras": {
        "image": "example.jpg",
        "caption": "Just an example band.",
        "landscape": "Yes",
        "origin": "Switzerland",
        "years_active": "1979\u20132023",
        "genre": [
            {
                "link": "Palm Desert Scene",
                "name": "desert rock"
            }
            
        ],
        "label": [
            {
                "name": "Dali"
            }
        ],
        "members": [
            {
                "link": "Ludovico Caldara",
                "name": "Ludovico Caldara"
            }
        ]
    }
})
artist_short = mongo_db["artist_short"]
res = artist_short.insert_one(example)

In [9]:
%%sql result <<
select * from artist_short a where a.data.name='Example Band'

Returning data to local variable result

In [19]:
print(json.dumps(result['data'][0], indent=4, default=str))

{
    "_id": "b'e(\\x18\\x1f]\\xcepf\\x0f8\\x8d\\x05'",
    "name": "Example Band",
    "link": "Example Band",
    "type": "group_or_band",
    "discovered": true,
    "error": "",
    "extras": {
        "image": "example.jpg",
        "caption": "Just an example band.",
        "landscape": "Yes",
        "origin": "Switzerland",
        "years_active": "1979\u20132023",
        "genre": [
            {
                "link": "Palm Desert Scene",
                "name": "desert rock"
            }
        ],
        "label": [
            {
                "name": "Dali"
            }
        ],
        "members": [
            {
                "link": "Ludovico Caldara",
                "name": "Ludovico Caldara"
            }
        ]
    }
}

In [10]:
%%sql
select * from artists a where name='Example Band'

,id,name,link,type,extras,discovered,error
0,652818cefd0fd05ed0711955,Example Band,Example Band,group_or_band,"{'image': 'example.jpg', 'caption': 'Just an example band.', 'landscape': 'Yes', 'origin': 'Switzerland', 'years_active': '1979–2023', 'genre': [{'link': 'Palm Desert Scene', 'name': 'desert rock'}], 'label': [{'name': 'Dali'}], 'members': [{'link': 'Ludovico Caldara', 'name': 'Ludovico Caldara'}]}",True,None

### A more complex view correctly maps the data

In [11]:
%%sql
create or replace json relational duality view artist as
  artists @insert @update @delete
  {
    _id     : id
    name    : name
    link    : link
    type    : type
    extras  : extras
    discovered : discovered
    error: error
    member_of : members @insert @update @delete @link(to: ["MEMBER_ID"])
      [
        {
          belonging_band_id : id
          artists @noinsert @update @nodelete @unnest @link(from: ["BAND_ID"])
          {
            id : id
            name : name
            link : link
            type : type
            extras  : extras
            discovered : discovered
            error   : error
          }
        }
      ]
    members : members @insert @update @delete @link(to: ["BAND_ID"])
      [
        {
          members_id : id
          artists @noinsert @update @nodelete @unnest @link(from: ["MEMBER_ID"])
          {
            id : id
            name : name
            link : link
            type : type
            extras  : extras
            discovered : discovered
            error   : error
          }
        }
      ]
    spinoff_of : spinoffs @insert @update @delete @link(to: ["SPINOFF_ID"])
      [
        {
          spinoff_of_id : id
          artists @noinsert @update @nodelete @unnest @link(from: ["BAND_ID"])
          {
            id : id
            name : name
            link : link
            type : type
            extras  : extras
            discovered : discovered
            error   : error
          }
        }
      ]
    spinoffs : spinoffs @insert @update @delete @link(to: ["BAND_ID"])
      [
        {
          spinoffs_id : id
          artists @noinsert @update @nodelete @unnest @link(from: ["SPINOFF_ID"])
          {
            id : id
            name : name
            link : link
            type : type
            extras  : extras
            discovered : discovered
            error   : error
          }
        }
      ]
    genre   : artist_genres @insert @update @delete
      [
        {
          artist_genres_id : id
          genres @noinsert @update @nodelete @unnest
          {
            id : id
            name : name
          }
        }
      ]
    label   : artist_labels @insert @update @delete
      [
        {
          artist_labels_id : id
          labels @noinsert @update @nodelete @unnest
          {
            id : id
            name : name
          }
        }
      ]
  }

Empty DataFrame
Columns: []
Index: []

### Additional duality views let manage other entities as JSON collections

In [12]:
%%sql
create or replace json relational duality view genre as
  genres @insert @update @delete @nocheck
  {
    _id     : id
    name    : name
  }

Empty DataFrame
Columns: []
Index: []

In [13]:
%%sql
create or replace json relational duality view label as
  labels @insert @update @delete @nocheck
  {
    _id     : id
    name    : name
  }

Empty DataFrame
Columns: []
Index: []

### Let's retry the insert with the complex view

In [14]:
%%sql
delete from artists

Empty DataFrame
Columns: []
Index: []

In [15]:
%%sql
commit

Empty DataFrame
Columns: []
Index: []

In [16]:
example=dict({
    "name": "Example Band",
    "link": "Example Band",
    "type": "group_or_band",
    "discovered": True,
	"error": "",
    "extras": {
        "image": "example.jpg",
        "caption": "Just an example band.",
        "landscape": "Yes",
        "origin": "Switzerland",
        "years_active": "1979\u20132023",
    },
    "genre": [
        {
            "name": "desert rock"
        }
    ],
    "label": [
        {
            "name": "Dali"
        }
    ],
    "members": [
        {
            "link": "Ludovico Caldara",
            "name": "Ludovico Caldara",
            "type" : "person",
            "extras"  : "",
            "discovered" : False,
            "error"   : ""
        }
    ]
})

In [17]:
artist = mongo_db["artist"]
res = artist.insert_one(example)

WriteError: ORA-40937: Cannot insert into table 'GENRES' in JSON Relational Duality View 'ARTIST': Missing INSERT annotation or NOINSERT annotation specified.
, full error: {'index': 0, 'errmsg': "ORA-40937: Cannot insert into table 'GENRES' in JSON Relational Duality View 'ARTIST': Missing INSERT annotation or NOINSERT annotation specified.\n", 'code': -1}

### A current limitation of Duality Views is that the dependent record in an N-M relationship must already exist

**This limitation does not exist for 1-M relationships**

Basically, you have to quickly loop through the arrays and insert the dependent records/documents first.

In [18]:
example=dict({
    "name": "Example Band",
    "link": "Example Band",
    "type": "group_or_band",
    "discovered": True,
	"error": "",
    "extras": {
        "image": "example.jpg",
        "caption": "Just an example band.",
        "landscape": "Yes",
        "origin": "Switzerland",
        "years_active": "1979\u20132023",
    },
    "genre": [
        {
            "name": "desert rock"
        }
    ],
    "label": [
        {
            "name": "Dali"
        }
    ],
    "members": [
        {
            "link": "Ludovico Caldara",
            "name": "Ludovico Caldara",
            "type" : "person",
            "extras"  : "",
            "discovered" : False,
            "error"   : ""
        }
    ]
})

for prop in ["label", "genre"]:
  coll = mongo_db[prop]
  for index, label in enumerate(example[prop]):
    res = coll.insert_one(example[prop][index])
    example[prop][index]["id"] = str(res.inserted_id)
    del (example[prop][index]["_id"])

coll = mongo_db["artist_short"]
for index, label in enumerate(example["members"]):
  res = coll.insert_one(example["members"][index])
  example["members"][index]["id"] = str(res.inserted_id)
  del (example["members"][index]["_id"])

In [19]:
print (json.dumps(example, indent=4))

{
    "name": "Example Band",
    "link": "Example Band",
    "type": "group_or_band",
    "discovered": true,
    "error": "",
    "extras": {
        "image": "example.jpg",
        "caption": "Just an example band.",
        "landscape": "Yes",
        "origin": "Switzerland",
        "years_active": "1979\u20132023"
    },
    "genre": [
        {
            "name": "desert rock",
            "id": "65281a7dfd0fd05ed0711958"
        }
    ],
    "label": [
        {
            "name": "Dali",
            "id": "65281a7dfd0fd05ed0711957"
        }
    ],
    "members": [
        {
            "link": "Ludovico Caldara",
            "name": "Ludovico Caldara",
            "type": "person",
            "extras": "",
            "discovered": false,
            "error": "",
            "id": "65281a7dfd0fd05ed0711959"
        }
    ]
}

And then the insert will work

In [20]:
artist = mongo_db["artist"]
res = artist.insert_one(example)

In [22]:
example["_id"] = str(example["_id"])
print (json.dumps(example, indent=4))

{
    "name": "Example Band",
    "link": "Example Band",
    "type": "group_or_band",
    "discovered": true,
    "error": "",
    "extras": {
        "image": "example.jpg",
        "caption": "Just an example band.",
        "landscape": "Yes",
        "origin": "Switzerland",
        "years_active": "1979\u20132023"
    },
    "genre": [
        {
            "name": "desert rock",
            "id": "65281a7dfd0fd05ed0711958"
        }
    ],
    "label": [
        {
            "name": "Dali",
            "id": "65281a7dfd0fd05ed0711957"
        }
    ],
    "members": [
        {
            "link": "Ludovico Caldara",
            "name": "Ludovico Caldara",
            "type": "person",
            "extras": "",
            "discovered": false,
            "error": "",
            "id": "65281a7dfd0fd05ed0711959"
        }
    ],
    "_id": "65281abdfd0fd05ed071195a"
}

In [23]:
%%sql
select name, link, discovered from artists

               name              link  discovered
0  Ludovico Caldara  Ludovico Caldara       False
1      Example Band      Example Band        True

## The benefits of the Duality Views approach
* When a document is updated, the change applies to all the documents containing the same information.
* Data is consistent across multiple documents.
* There is no data duplication.
* Multiple views can access the same data using different paths.

We can use MongoDBCompass to change some data and see the effects.

## Crawling data from Wikipedia

The Python script **main.py** outside the notebook crawls data from Wikipedia.
* It takes a band as a seed and inserts the corresponding document with **pymongo**
* It loops and searches for artists documents `{discovered: False}` to discover new ones.

In [26]:
%%sql
select count(*) from artists

   COUNT(*)
0       278

## SQL Property Graphs with SQL/PGQ

https://docs.oracle.com/en/database/oracle/property-graph/23.3/spgdg/sql-property-graphs.html#GUID-B82E61FF-3601-4D9C-99F9-6A5D4FF961E6

Oracle Database 23c is the first commercial database to implement SQL/PGQ as defined by the SQL:2023 standard.

It lets querying underlying relational tables using the property graph logic.

### Create the SQL Property Graph

In [27]:
%%sql
drop  property graph if exists BAND_GRAPH

Empty DataFrame
Columns: []
Index: []

In [28]:
%%sql
CREATE PROPERTY GRAPH BAND_GRAPH
    VERTEX TABLES (
        ARTISTS
          KEY (ID)
          PROPERTIES (ID, Name, Link, Discovered, Type),
		LABELS
		  KEY (ID)
		  PROPERTIES (Name),
		GENRES
		  KEY (ID)
		  PROPERTIES (Name)
    )
    EDGE TABLES (
        MEMBERS
          KEY (ID)
          SOURCE KEY (member_id) REFERENCES ARTISTS(ID)
          DESTINATION KEY (band_id) REFERENCES ARTISTS(ID)
          LABEL member
          PROPERTIES (band_id, member_id),
		SPINOFFS
          KEY (ID)
          SOURCE KEY (spinoff_id) REFERENCES ARTISTS(ID)
          DESTINATION KEY (band_id) REFERENCES ARTISTS(ID)
		  LABEL spinoff
          PROPERTIES (band_id, spinoff_id),
		ARTIST_LABELS
          KEY (ID)
          SOURCE KEY (artist_id) REFERENCES ARTISTS(ID)
          DESTINATION KEY (label_id) REFERENCES LABELS(ID)
		  LABEL label
          PROPERTIES (artist_id, label_id),
		ARTIST_GENRES
          KEY (ID)
          SOURCE KEY (artist_id) REFERENCES ARTISTS(ID)
          DESTINATION KEY (genre_id) REFERENCES GENRES(ID)
		  LABEL genre
          PROPERTIES (artist_id, genre_id)
    )

Empty DataFrame
Columns: []
Index: []

### Simple query: Top 10 bands by number of members

In [29]:
%%sql
SELECT band_name, COUNT(1) AS num_members
       FROM graph_table ( BAND_GRAPH
        MATCH (band) <- [IS MEMBER] - (member)
        COLUMNS ( band.id AS id , band.name as band_name)
    ) GROUP BY  id, band_name ORDER BY num_members DESC
    FETCH FIRST 10 ROWS ONLY

                band_name  num_members
0                The Cult           34
1  Snake River Conspiracy           26
2          The Mars Volta           23
3                45 Grave           20
4    The Twilight Singers           20
5             Band of Joy           19
6       The Honeydrippers           17
7             The Vandals           15
8       No Use for a Name           14
9   Red Hot Chili Peppers           14

### Simple query: all the Kyuss members

<img alt="Kyuss members in Graph Visualization" src="./images/kyuss-members.png" width="800" />

In [30]:
%%sql
SELECT *
	FROM graph_table ( BAND_GRAPH
		MATCH (kyuss where kyuss.name='Kyuss') <- [m is member] - (member)
		COLUMNS (kyuss.name as band_name, member.id as member_id, member.name as member_name)
	)

  band_name                 member_id        member_name
0     Kyuss  65281b9a6579099eb27a0e30       Scott Reeder
1     Kyuss  65281b9a6579099eb27a0e2f        John Garcia
2     Kyuss  65281b9a6579099eb27a0e32     Chris Cockrell
3     Kyuss  65281b9a6579099eb27a0e2e         Josh Homme
4     Kyuss  65281b9a6579099eb27a0e31  Alfredo Hernández
5     Kyuss  65281b9a6579099eb27a0e33        Brant Bjork
6     Kyuss  65281b9a6579099eb27a0e34       Nick Oliveri

### Simple query: Kyuss spinoffs

<img alt="Kyuss spinoffs in Graph Visualization" src="./images/kyuss-spinoffs.png" width="800" />

In [31]:
%%sql
SELECT *
	FROM graph_table ( BAND_GRAPH
		MATCH (a where a.name='Kyuss') <- [m is spinoff] - (b)
		COLUMNS ( a.name as src_name, b.id as spinoff_id, b.name as spinoff_name)
	)

   src_name                spinoff_id             spinoff_name
0     Kyuss  65281b9a6579099eb27a0e35              Vista Chino
1     Kyuss  65281b9a6579099eb27a0e36  Queens of the Stone Age
2     Kyuss  65281b9a6579099eb27a0e37          Mondo Generator
3     Kyuss  65281b9a6579099eb27a0e38                      Ché
4     Kyuss  65281b9a6579099eb27a0e39                    Unida
5     Kyuss  65281b9a6579099eb27a0e3a                  Hermano
6     Kyuss  65281b9a6579099eb27a0e3e                 Ten East
7     Kyuss  65281b9a6579099eb27a0e3f                   Stöner
8     Kyuss  65281b9a6579099eb27a0e3b                 Slo Burn
9     Kyuss  65281b9a6579099eb27a0e3c      The Desert Sessions
10    Kyuss  65281b9a6579099eb27a0e3d    Eagles of Death Metal

### Which artists are members of Kyuss spinoffs

<img alt="Members of Kyuss spinoffs in Graph Visualization" src="./images/members-of-kyuss-spinoffs.png" width="800" />

In [32]:
%%sql
SELECT kyuss, listagg(spinoff_name,',') as spinoffs, spinoff_member
	FROM graph_table ( BAND_GRAPH
		MATCH (a where a.name='Kyuss') <- [m is spinoff] - (s) <- [n is member] - (b)
		COLUMNS ( a.id AS src_id , a.name as kyuss, s.name as spinoff_name, b.id as dest_it, b.name as spinoff_member)
	)
	group by kyuss, spinoff_member
	order by spinoff_member

,kyuss,spinoffs,spinoff_member
0,Kyuss,Queens of the Stone Age,Alain Johannes
1,Kyuss,"Ché,Queens of the Stone Age",Alfredo Hernández
2,Kyuss,Unida,Arthur Seay
3,Kyuss,Slo Burn,Brady Houghton
4,Kyuss,"The Desert Sessions,Vista Chino,Ché,Ten East,Stöner",Brant Bjork
5,Kyuss,Vista Chino,Bruno Fevery
6,Kyuss,Slo Burn,Chris Hale
7,Kyuss,Slo Burn,Damon Garrison
8,Kyuss,Unida,Dave Dinsmore
9,Kyuss,"Mondo Generator,Queens of the Stone Age",Dave Grohl
10,Kyuss,Queens of the Stone Age,Dean Fertita
11,Kyuss,Unida,Eddie Plascencia
12,Kyuss,Queens of the Stone Age,Gene Trautmann
13,Kyuss,Eagles of Death Metal,Jesse Hughes
14,Kyuss,"Queens of the Stone Age,Mondo Generator,Eagles of Death Metal",Joey Castillo
15,Kyuss,"Vista Chino,Unida,Slo Burn",John Garcia
16,Kyuss,Queens of the Stone Age,Jon Theodore
17,Kyuss,"The Desert Sessions,Queens of the Stone Age,Eagles of Death Metal",Josh Homme
18,Kyuss,Queens of the Stone Age,Mark Lanegan
19,Kyuss,Mondo Generator,Michael Amster
20,Kyuss,Queens of the Stone Age,Michael Shuman
21,Kyuss,Unida,Miguel Cancino
22,Kyuss,Mondo Generator,Mike Pygmie
23,Kyuss,Queens of the Stone Age,Natasha Shneider
24,Kyuss,"Mondo Generator,The Desert Sessions,Vista Chino,Queens of the Stone Age,Stöner",Nick Oliveri
25,Kyuss,Unida,Owen Seay
26,Kyuss,Stöner,Ryan Güt
27,Kyuss,Unida,Scott Reeder
28,Kyuss,Mondo Generator,See below
29,Kyuss,Eagles of Death Metal,See past contributors section
30,Kyuss,"Eagles of Death Metal,Mondo Generator,Queens of the Stone Age",Troy Van Leeuwen

## Graph Visualization examples

https://docs.oracle.com/en/database/oracle/property-graph/23.3/spgdg/graph-visualization-application.html#GUID-67F49EC8-1F64-41E7-890B-4E83F0F94D46

Run the following queries in [Oracle Graph Visualization](https://127.0.0.1:7007/ui/visualization).

-- members of Kyuss' spinoffs
SELECT *
 FROM GRAPH_TABLE ( BAND_GRAPH
  MATCH (k where k.name='Kyuss') <- [is_s is spinoff] -> (s) <- [is_m is member] -> (m)
  COLUMNS (VERTEX_ID(k) as kyuss, 
  EDGE_ID(is_s) as is_kyuss_spinoff, 
  VERTEX_ID(s) as spinoff, 
  EDGE_ID(is_m) as is_spinoff_member, 
  VERTEX_ID(m) as member)
) FETCH FIRST 300 ROW ONLY

-- Bands where members are also members of Kyuss' spinoffs
SELECT *
 FROM GRAPH_TABLE ( BAND_GRAPH
  MATCH (k where k.name='Kyuss') <- [is_s is spinoff] -> (s) <- [is_m is member] -> (m) <- [is_b is member] -> (b)
  COLUMNS (VERTEX_ID(k) as kyuss, 
  EDGE_ID(is_s) as is_kyuss_spinoff, 
  VERTEX_ID(s) as spinoff, 
  EDGE_ID(is_m) as is_spinoff_member, 
  VERTEX_ID(m) as member, 
  EDGE_ID(is_b) as is_member_of,
  VERTEX_ID(b) as band)
) FETCH FIRST 300 ROW ONLY

## Enough! Show me recommendations!

I want bands:
* With the same genre(s) as Kyuss
* Recording with the same labels as bands whose members are also members of Kyuss spinoffs

<img alt="Band recommendations" src="./images/recommended-bands-highlighted.png" width="800" />

In [34]:
%%sql
select band1_name, label_name, band2_name, listagg(genre_name,', ') as kyuss_genres from (
SELECT  distinct band1_name, label_name, band2_name, genre_name
	FROM graph_table ( BAND_GRAPH
		MATCH 
		(kyuss where kyuss.name='Kyuss') <- [e1 is spinoff] - (kspins),
		(kspins) <- [e2 is member] - (spinmember),
		(spinmember) - [e3 is member] -> (band1),
		(band1) - [is label] -> (lab) <- [is label] - (band2 where band2.type='group_or_band'),
		(band2) - [e6 is genre] -> (gen) <- [e7 is genre] - (kyuss)
		WHERE band2.id != kyuss.id
		COLUMNS ( band1.name as band1_name, lab.name as label_name, band2.name as band2_name, gen.name as genre_name )
	)
	) group by band1_name, label_name, band2_name order by band1_name

,band1_name,label_name,band2_name,kyuss_genres
0,A Perfect Circle,BMG,Alice in Chains,heavy metal
1,A Perfect Circle,BMG,Sammy Hagar and the Circle,heavy metal
2,A Perfect Circle,BMG,Thin Lizzy,heavy metal
3,A Perfect Circle,Virgin,Alice in Chains,heavy metal
4,Foo Fighters,Capitol,Alice in Chains,heavy metal
5,Goatsnake,Man's Ruin,Queens of the Stone Age,desert rock
6,Kyuss,Dali,Example Band,desert rock
7,Kyuss,Man's Ruin,Queens of the Stone Age,desert rock
8,Mondo Generator,Heavy Psych Sounds,Big Scenic Nowhere,"desert rock, Stoner rock"
9,Mondo Generator,Heavy Psych Sounds,Stöner,"desert rock, Stoner rock"
10,Mondo Generator,Heavy Psych Sounds,Yawning Man,desert rock
11,Queens of the Stone Age,Interscope,Queens of the Stone Age,desert rock
12,Queens of the Stone Age,Loosegroove,Queens of the Stone Age,desert rock
13,Queens of the Stone Age,Man's Ruin,Queens of the Stone Age,desert rock
14,Queens of the Stone Age,Matador,Queens of the Stone Age,desert rock
15,Slo Burn,Malicious Vinyl,Slo Burn,"desert rock, Stoner rock"
16,Stöner,Heavy Psych Sounds,Big Scenic Nowhere,"desert rock, Stoner rock"
17,Stöner,Heavy Psych Sounds,Stöner,"desert rock, Stoner rock"
18,Stöner,Heavy Psych Sounds,Yawning Man,desert rock
19,The Desert Sessions,Man's Ruin,Queens of the Stone Age,desert rock
20,The Desert Sessions,Matador,Queens of the Stone Age,desert rock
21,The Mars Volta,Warner Bros.,Thin Lizzy,heavy metal
22,Them Crooked Vultures,Interscope,Queens of the Stone Age,desert rock
23,Unida,Man's Ruin,Queens of the Stone Age,desert rock
24,Victoria Hesketh,Atlantic,Led Zeppelin,heavy metal
25,Vista Chino,Napalm,Vista Chino,"heavy metal, Stoner rock"
26,Yawning Man,Alone,Yawning Man,desert rock
27,Yawning Man,Go Down,Yawning Man,desert rock
28,Yawning Man,Heavy Psych Sounds,Big Scenic Nowhere,"desert rock, Stoner rock"
29,Yawning Man,Heavy Psych Sounds,Stöner,"desert rock, Stoner rock"
30,Yawning Man,Heavy Psych Sounds,Yawning Man,desert rock
31,Yawning Man,Plastic Cactus,Yawning Man,desert rock
32,Yawning Man,Ripple Music,Yawning Man,desert rock
33,Yawning Sons,Alone,Yawning Man,desert rock

I can use it as a normal SELECT, including craing views!

In [35]:
%%sql
create or replace view recommendations as
select band1_name, label_name, band2_name, listagg(genre_name,', ') as kyuss_genres from (
SELECT  distinct band1_name, label_name, band2_name, genre_name
	FROM graph_table ( BAND_GRAPH
		MATCH 
		(kyuss where kyuss.name='Kyuss') <- [e1 is spinoff] - (kspins),
		(kspins) <- [e2 is member] - (spinmember),
		(spinmember) - [e3 is member] -> (band1),
		(band1) - [is label] -> (lab) <- [is label] - (band2 where band2.type='group_or_band'),
		(band2) - [e6 is genre] -> (gen) <- [e7 is genre] - (kyuss)
		WHERE band2.id != kyuss.id
		COLUMNS ( band1.name as band1_name, lab.name as label_name, band2.name as band2_name, gen.name as genre_name )
	)
	) group by band1_name, label_name, band2_name order by band1_name

Empty DataFrame
Columns: []
Index: []

In [36]:
%%sql
select * from recommendations

,band1_name,label_name,band2_name,kyuss_genres
0,A Perfect Circle,BMG,Alice in Chains,heavy metal
1,A Perfect Circle,BMG,Sammy Hagar and the Circle,heavy metal
2,A Perfect Circle,BMG,Thin Lizzy,heavy metal
3,A Perfect Circle,Virgin,Alice in Chains,heavy metal
4,Foo Fighters,Capitol,Alice in Chains,heavy metal
5,Goatsnake,Man's Ruin,Queens of the Stone Age,desert rock
6,Kyuss,Dali,Example Band,desert rock
7,Kyuss,Man's Ruin,Queens of the Stone Age,desert rock
8,Mondo Generator,Heavy Psych Sounds,Big Scenic Nowhere,"desert rock, Stoner rock"
9,Mondo Generator,Heavy Psych Sounds,Stöner,"desert rock, Stoner rock"
10,Mondo Generator,Heavy Psych Sounds,Yawning Man,desert rock
11,Queens of the Stone Age,Interscope,Queens of the Stone Age,desert rock
12,Queens of the Stone Age,Loosegroove,Queens of the Stone Age,desert rock
13,Queens of the Stone Age,Man's Ruin,Queens of the Stone Age,desert rock
14,Queens of the Stone Age,Matador,Queens of the Stone Age,desert rock
15,Slo Burn,Malicious Vinyl,Slo Burn,"desert rock, Stoner rock"
16,Stöner,Heavy Psych Sounds,Big Scenic Nowhere,"desert rock, Stoner rock"
17,Stöner,Heavy Psych Sounds,Stöner,"desert rock, Stoner rock"
18,Stöner,Heavy Psych Sounds,Yawning Man,desert rock
19,The Desert Sessions,Man's Ruin,Queens of the Stone Age,desert rock
20,The Desert Sessions,Matador,Queens of the Stone Age,desert rock
21,The Mars Volta,Warner Bros.,Thin Lizzy,heavy metal
22,Them Crooked Vultures,Interscope,Queens of the Stone Age,desert rock
23,Unida,Man's Ruin,Queens of the Stone Age,desert rock
24,Victoria Hesketh,Atlantic,Led Zeppelin,heavy metal
25,Vista Chino,Napalm,Vista Chino,"heavy metal, Stoner rock"
26,Yawning Man,Alone,Yawning Man,desert rock
27,Yawning Man,Go Down,Yawning Man,desert rock
28,Yawning Man,Heavy Psych Sounds,Big Scenic Nowhere,"desert rock, Stoner rock"
29,Yawning Man,Heavy Psych Sounds,Stöner,"desert rock, Stoner rock"
30,Yawning Man,Heavy Psych Sounds,Yawning Man,desert rock
31,Yawning Man,Plastic Cactus,Yawning Man,desert rock
32,Yawning Man,Ripple Music,Yawning Man,desert rock
33,Yawning Sons,Alone,Yawning Man,desert rock

## Can we do more?
* ***Oracle Graph Server*** has a much higher flexibility than SQL/PGQ, including libraries for Java and Python and tens of complex algorithms.
* Oracle Database 23c provides ***Machine Learning*** algorithms to get more insights from the data.
* The code could be rewritten as a ***JavaScript module in MLE***. ***That's GraalVM inside the Database!***
* Duality Views and SQL/PGQ are at their first version! Expect A LOT of improvements in this space over time.

## Summary
* We have combined:
  * The simplicity of JSON
  * The robustness of the relational model
  * The power of property graphs
    
  ***Without moving a single record from one Database to another.***

  ### How would it look like with traditional architecture?
  
  Either ingest into the document store but don't modify in the RDBMS:
  
  <img alt="Change Data Capture from JSON" src="./images/cdc-from-json.png" width="800" />
  
  Or ingest into the RDBMS and don't modify in the document store:
  
  <img alt="Change Data Capture from Relational" src="./images/cdc-from-relational.png" width="800" />

  ### How it looks like instead:
  
  <img alt="Converged Database Approach" src="./images/no-cdc.png" width="800" />
  
  That's the power of the converged database approach.
 

### Try it and give us feedback!
It's new technology, our feedback is important to make it better.
* Available as ***Oracle Database 23c Free*** on Docker, Virtualbox, RPM, Zip
* Available as ***Oracle Cloud Infrastructure Base Database Service***
* New services, full on-premises, and 3rd-party public clouds will come during CY2024

## Thank you!