# Desert Rock bands analysis with JSON, GraphQL, and SQL/PGQ

The cell simply loads any needed libraries for the notebook to work. It's mandatory and has nothing to do with the lab itself

In [2]:
import oracledb
import cx_Oracle
from pyvis.network import Network
from prettytable import PrettyTable
from IPython.display import HTML, display
import pandas as pd
import json
import MWMusicalArtist
import sys
import time
import json
import logging
from HelperFunctions import execute_plsql_and_dbmsoutput, execute_plsql, render_graph, render_query, compare_performance
from Artist import NoMusicalInfoboxException
from MongoFactory import mongo_db

FORMAT = '%(asctime)s - %(levelname)-8s - %(funcName)-15s - %(message)s'
logging.basicConfig(format=FORMAT, level=logging.ERROR)

%reload_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False
pd.set_option('display.max_colwidth', None)

pd.set_option('display.max_colwidth', None)

# The following is just a helper function to get the curren connection
def get_notebook_oracle_connection() -> object:
    # Ask ipython-sql for the current connection and assuming we want the first one
    connections = %sql l / --connections
    alchemy_connection = connections[next(iter(connections))]
    return alchemy_connection.internal_connection.connection.dbapi_connection

# Get the JSON from the Kyuss page

In [3]:
kyuss = MWMusicalArtist.MWMusicalArtist("Kyuss").getDict()

In [4]:
print(json.dumps(kyuss, indent=4))

{
    "name": "Kyuss",
    "image": "OldKyuss.jpg",
    "caption": "Kyuss {{circa|1992}}. Left to right: [[Josh Homme]], [[Brant Bjork]], [[John Garcia (singer)|John Garcia]], [[Nick Oliveri]].",
    "landscape": "Yes",
    "background": "group_or_band",
    "origin": "[[Palm Desert, California]], U.S.",
    "alias": [
        {
            "name": "Katzenjammer (1987\u20131989)"
        },
        {
            "name": "Sons of Kyuss (1989\u20131991)"
        }
    ],
    "discography": "[[Kyuss discography]]",
    "genre": [
        {
            "link": "Stoner rock",
            "name": "Stoner rock"
        },
        {
            "link": "Palm Desert Scene",
            "name": "desert rock"
        },
        {
            "link": "Heavy metal music",
            "name": "heavy metal"
        }
    ],
    "years_active": "1987\u20131995",
    "label": [
        {
            "name": "Dali"
        },
        {
            "link": "Chameleon Records",
            "name": "Chameleon"
        },
        {
            "link": "Elektra Records",
            "name": "Elektra"
        },
        {
            "link": "Bong Load Custom Records",
            "name": "Bong Load"
        },
        {
            "link": "Man's Ruin",
            "name": "Man's Ruin"
        }
    ],
    "spinoffs": [
        {
            "link": "Vista Chino",
            "name": "Vista Chino"
        },
        {
            "link": "Queens of the Stone Age",
            "name": "Queens of the Stone Age"
        },
        {
            "link": "Mondo Generator",
            "name": "Mondo Generator"
        },
        {
            "link": "Ch\u00e9 (band)",
            "name": "Ch\u00e9"
        },
        {
            "link": "Unida",
            "name": "Unida"
        },
        {
            "link": "Hermano (band)",
            "name": "Hermano"
        },
        {
            "link": "Slo Burn",
            "name": "Slo Burn"
        },
        {
            "link": "The Desert Sessions",
            "name": "The Desert Sessions"
        },
        {
            "link": "Eagles of Death Metal",
            "name": "Eagles of Death Metal"
        },
        {
            "link": "Ten East",
            "name": "Ten East"
        },
        {
            "link": "St\u00f6ner",
            "name": "St\u00f6ner"
        }
    ],
    "past_members": [
        {
            "link": "Josh Homme",
            "name": "Josh Homme"
        },
        {
            "link": "John Garcia (singer)",
            "name": "John Garcia"
        },
        {
            "link": "Scott Reeder (bassist)",
            "name": "Scott Reeder"
        },
        {
            "link": "Alfredo Hern\u00e1ndez",
            "name": "Alfredo Hern\u00e1ndez"
        },
        {
            "name": "Chris Cockrell"
        },
        {
            "link": "Brant Bjork",
            "name": "Brant Bjork"
        },
        {
            "link": "Nick Oliveri",
            "name": "Nick Oliveri"
        }
    ],
    "link": "Kyuss",
    "discovered": true
}

Get JSON from the Brant Bjork page

In [5]:
brant = MWMusicalArtist.MWMusicalArtist("Brant Bjork").getDict()

In [6]:
print(json.dumps(brant, indent=4))

{
    "name": "Brant Bjork",
    "image": "Brant Bjork-Kyuss-IMG 5771.jpg",
    "caption": "Brant Bjork at the Eurock\u00e9ennes de [[Belfort]], 2011",
    "birth_date": "{{Birth date and age|1973|03|19}}",
    "birth_place": "[[Redlands, California]], U.S.",
    "origin": "[[Palm Springs, California]], U.S.",
    "genre": [
        {
            "link": "Stoner rock",
            "name": "Stoner rock"
        },
        {
            "link": "Palm Desert Scene",
            "name": "desert rock"
        },
        {
            "link": "Heavy metal music",
            "name": "heavy metal"
        },
        {
            "link": "hardcore punk",
            "name": "hardcore punk"
        }
    ],
    "discography": "[[Brant Bjork discography]]",
    "occupation": [
        {
            "name": "Musician"
        },
        {
            "name": "singer"
        },
        {
            "name": "songwriter"
        },
        {
            "name": "record producer"
        }
    ],
    "years_active": "1987\u2013present",
    "instrument": [
        {
            "name": "Drums"
        },
        {
            "name": "vocals"
        },
        {
            "name": "guitar"
        },
        {
            "name": "bass"
        }
    ],
    "label": [
        {
            "name": "El Camino"
        },
        {
            "link": "Duna Records",
            "name": "Duna"
        },
        {
            "link": "Man's Ruin Records",
            "name": "Man's Ruin"
        },
        {
            "name": "Low Desert Punk"
        },
        {
            "link": "Napalm Records",
            "name": "Napalm"
        },
        {
            "name": "Heavy Psych Sounds"
        }
    ],
    "current_member_of": [
        {
            "link": "St\u00f6ner",
            "name": "St\u00f6ner"
        },
        {
            "name": "Brant Bjork Trio"
        }
    ],
    "past_member_of": [
        {
            "link": "Kyuss",
            "name": "Kyuss"
        },
        {
            "link": "Fu Manchu (band)",
            "name": "Fu Manchu"
        },
        {
            "link": "Vista Chino",
            "name": "Vista Chino"
        },
        {
            "name": "Brant Bjork and the Bros"
        },
        {
            "name": "Brant Bjork and the Low Desert Punk Band"
        },
        {
            "link": "Ch\u00e9 (band)",
            "name": "Ch\u00e9"
        },
        {
            "link": "Mondo Generator",
            "name": "Mondo Generator"
        },
        {
            "link": "The Desert Sessions",
            "name": "The Desert Sessions"
        },
        {
            "name": "De-Con"
        },
        {
            "link": "Blast (band)",
            "name": "LAB"
        },
        {
            "link": "Ten East",
            "name": "Ten East"
        },
        {
            "link": "Fatso Jetson",
            "name": "Fatso Jetson"
        }
    ],
    "website": "{{URL|brantbjork.net}}",
    "link": "Brant Bjork",
    "discovered": true
}

# Insert the raw JSON into MongoDB

In [7]:
mongo_artist = mongo_db["mongo_artist"]
mongo_artist.drop()
res = mongo_artist.insert_one(kyuss)
res = mongo_artist.insert_one(brant)

In [8]:
for document in list(mongo_artist.find()):
  print(document["name"])

Kyuss
Brant Bjork

# Problems of the RAW approach

* Semi-structured data requires schema validation (possible in MongoDB).

# Problems of the JSON approach

* JSON documents are cool as long as you keep accessing data using the same path.  (e.g. Band -> Member)
  
  Don't believe me? Check out this: https://dev.to/mongodb/mongodb-design-reviews-how-applying-schema-design-best-practices-resulted-in-a-60x-performance-improvement-56m5
  
# Better approach: use the relational model... Artists (or bands + musicians), members, spinoffs, genres, labels...

* More evolutive
  * declarative language abstracts how data is accessed
  * The impedance mismatch between the application and the database isn't the same across applications accessing the same data

# But... 

* **I would like to avoid rewriting my code to change the model**

# I cheated... we are on an Oracle Database already!

In [9]:
%sql oracle+oracledb://bands:BandsBands##123@bands0.dbbands/?service_name=pbands_rw

In [17]:
%%sql
select column_name, data_type from user_tab_columns where table_name='MONGO_ARTIST'

     column_name     data_type
0             ID           RAW
1     CREATED_ON  TIMESTAMP(6)
2  LAST_MODIFIED  TIMESTAMP(6)
3        VERSION      VARCHAR2
4           DATA          JSON

In [10]:
%%sql
select a.data.name from mongo_artist a

          name
0        Kyuss
1  Brant Bjork

In [11]:
%%sql
select a.data.name, coalesce(a.data.past_members[*].name, a.data.past_member_of[*].name) as "member or member_of" from mongo_Artist a

,name,member or member_of
0,Kyuss,"[Josh Homme, John Garcia, Scott Reeder, Alfredo Hernández, Chris Cockrell, Brant Bjork, Nick Oliveri]"
1,Brant Bjork,"[Kyuss, Fu Manchu, Vista Chino, Brant Bjork and the Bros, Brant Bjork and the Low Desert Punk Band, Ché, Mondo Generator, The Desert Sessions, De-Con, LAB, Ten East, Fatso Jetson]"

# Build the relational schema

create domain artist_type as varchar2(15)
  constraint artist_type_chk check (artist_type in ('person','group_or_band'))
  order      artist_type;

create table artists (
  id               varchar2(30) not null ,
  name             varchar2(255) not null unique,
  link             varchar2(255),
  type             domain artist_type not null,
  discovered       boolean default false,
  error            varchar2(30),
  constraint artists_pk primary key(id)
);

create table members (
  id               integer generated by default on null as identity,
  band_id          varchar2(30) not null,
  member_id        varchar2(30) not null,
  constraint members_band_fk foreign key (band_id) references artists(id),
  constraint members_member_fk foreign key (member_id) references artists(id),
  constraint members_pk primary key(id)
);


create table genres (
  id               varchar2(30) not null ,
  name             varchar2(255) not null unique,
  constraint genres_pk primary key(id)
);


create table artist_genres (
  id               integer generated by default on null as identity,
  genre_id         varchar2(30) not null ,
  artist_id        varchar2(30) not null ,
  constraint artist_genres_artists_fk foreign key (artist_id) references artists(id),
  constraint artist_genres_genres_fk foreign key (genre_id) references genres(id),
  constraint artist_genres_pk primary key(id)
);


create table labels (
  id               varchar2(30) not null ,
  name             varchar2(255) not null unique,
  constraint labels_pk primary key(id)
);

create table artist_labels (
  id               integer generated by default on null as identity,
  label_id         varchar2(30) not null ,
  artist_id        varchar2(30) not null ,
  constraint artist_labels_artists_fk foreign key (artist_id) references artists(id),
  constraint artist_labels_labels_fk foreign key (label_id) references labels(id),
  constraint artist_labels_pk primary key(id)
);

create table associated_acts (
  id               integer generated by default on null as identity,
  artist1_id         varchar2(30) not null,
  artist2_id         varchar2(30) not null,
  constraint associated_acts_artist1_fk foreign key (artist1_id) references artists(id),
  constraint associated_acts_artist2_fk foreign key (artist2_id) references artists(id),
  constraint associated_acts_pk primary key(id)
);

In [20]:
%%sql
select table_name, column_name, data_type from user_tab_columns order by table_name, column_id

       table_name    column_name     data_type
0          ARTIST           DATA          JSON
1         ARTISTS             ID      VARCHAR2
2         ARTISTS           NAME      VARCHAR2
3         ARTISTS           LINK      VARCHAR2
4         ARTISTS           TYPE      VARCHAR2
5         ARTISTS     DISCOVERED       BOOLEAN
6         ARTISTS          ERROR      VARCHAR2
7   ARTIST_GENRES             ID        NUMBER
8   ARTIST_GENRES       GENRE_ID      VARCHAR2
9   ARTIST_GENRES      ARTIST_ID      VARCHAR2
10  ARTIST_LABELS             ID        NUMBER
11  ARTIST_LABELS       LABEL_ID      VARCHAR2
12  ARTIST_LABELS      ARTIST_ID      VARCHAR2
13   ARTIST_SHORT           DATA          JSON
14          GENRE           DATA          JSON
15         GENRES             ID      VARCHAR2
16         GENRES           NAME      VARCHAR2
17          LABEL           DATA          JSON
18         LABELS             ID      VARCHAR2
19         LABELS           NAME      VARCHAR2
20        MEMBERS             ID        NUMBER
21        MEMBERS        BAND_ID      VARCHAR2
22        MEMBERS      MEMBER_ID      VARCHAR2
23   MONGO_ARTIST             ID           RAW
24   MONGO_ARTIST     CREATED_ON  TIMESTAMP(6)
25   MONGO_ARTIST  LAST_MODIFIED  TIMESTAMP(6)
26   MONGO_ARTIST        VERSION      VARCHAR2
27   MONGO_ARTIST           DATA          JSON
28       SPINOFFS             ID        NUMBER
29       SPINOFFS        BAND_ID      VARCHAR2
30       SPINOFFS     SPINOFF_ID      VARCHAR2

# Oracle Database 23c solves the impedance mismatch with the JSON Relational Duality Views

In [21]:
%%sql
create or replace json relational duality view artist_short as
  artists @insert @update @delete @nocheck
  {
    _id     : id
    name    : name
    link    : link
    type    : type
    discovered : discovered
    error   : error
  }

Empty DataFrame
Columns: []
Index: []

last keep me