# Desert Rock bands analysis with JSON, GraphQL, and SQL/PGQ

The following cell simply loads any needed libraries for the notebook to work. It's mandatory and has nothing to do with the lab itself

In [1]:
import oracledb
import cx_Oracle
from pyvis.network import Network
from prettytable import PrettyTable
from IPython.display import HTML, display
import pandas as pd
import json
import MWMusicalArtist
import Artist
import sys
import time
import json
import logging
from HelperFunctions import execute_plsql_and_dbmsoutput, execute_plsql, render_graph, render_query, compare_performance
from Artist import NoMusicalInfoboxException
from MongoFactory import mongo_db

FORMAT = '%(asctime)s - %(levelname)-8s - %(funcName)-15s - %(message)s'
logging.basicConfig(format=FORMAT, level=logging.ERROR)

%reload_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False
pd.set_option('display.max_colwidth', None)

pd.set_option('display.max_colwidth', None)

# The following is just a helper function to get the curren connection
def get_notebook_oracle_connection() -> object:
    # Ask ipython-sql for the current connection and assuming we want the first one
    connections = %sql l / --connections
    alchemy_connection = connections[next(iter(connections))]
    return alchemy_connection.internal_connection.connection.dbapi_connection

# Get the JSON from the Kyuss Wikipedia page

In [2]:
kyuss = MWMusicalArtist.MWMusicalArtist("Kyuss").getDict()

In [3]:
print(json.dumps(kyuss, indent=4))

{
    "name": "Kyuss",
    "image": "OldKyuss.jpg",
    "caption": "Kyuss {{circa|1992}}. Left to right: [[Josh Homme]], [[Brant Bjork]], [[John Garcia (singer)|John Garcia]], [[Nick Oliveri]].",
    "landscape": "Yes",
    "background": "group_or_band",
    "origin": "[[Palm Desert, California]], U.S.",
    "alias": [
        {
            "name": "Katzenjammer (1987\u20131989)"
        },
        {
            "name": "Sons of Kyuss (1989\u20131991)"
        }
    ],
    "discography": "[[Kyuss discography]]",
    "genre": [
        {
            "link": "Stoner rock",
            "name": "Stoner rock"
        },
        {
            "link": "Palm Desert Scene",
            "name": "desert rock"
        },
        {
            "link": "Heavy metal music",
            "name": "heavy metal"
        }
    ],
    "years_active": "1987\u20131995",
    "label": [
        {
            "name": "Dali"
        },
        {
            "link": "Chameleon Records",
            "name": "Chameleon"
        },
        {
            "link": "Elektra Records",
            "name": "Elektra"
        },
        {
            "link": "Bong Load Custom Records",
            "name": "Bong Load"
        },
        {
            "link": "Man's Ruin",
            "name": "Man's Ruin"
        }
    ],
    "spinoffs": [
        {
            "link": "Vista Chino",
            "name": "Vista Chino"
        },
        {
            "link": "Queens of the Stone Age",
            "name": "Queens of the Stone Age"
        },
        {
            "link": "Mondo Generator",
            "name": "Mondo Generator"
        },
        {
            "link": "Ch\u00e9 (band)",
            "name": "Ch\u00e9"
        },
        {
            "link": "Unida",
            "name": "Unida"
        },
        {
            "link": "Hermano (band)",
            "name": "Hermano"
        },
        {
            "link": "Slo Burn",
            "name": "Slo Burn"
        },
        {
            "link": "The Desert Sessions",
            "name": "The Desert Sessions"
        },
        {
            "link": "Eagles of Death Metal",
            "name": "Eagles of Death Metal"
        },
        {
            "link": "Ten East",
            "name": "Ten East"
        },
        {
            "link": "St\u00f6ner",
            "name": "St\u00f6ner"
        }
    ],
    "past_members": [
        {
            "link": "Josh Homme",
            "name": "Josh Homme"
        },
        {
            "link": "John Garcia (singer)",
            "name": "John Garcia"
        },
        {
            "link": "Scott Reeder (bassist)",
            "name": "Scott Reeder"
        },
        {
            "link": "Alfredo Hern\u00e1ndez",
            "name": "Alfredo Hern\u00e1ndez"
        },
        {
            "name": "Chris Cockrell"
        },
        {
            "link": "Brant Bjork",
            "name": "Brant Bjork"
        },
        {
            "link": "Nick Oliveri",
            "name": "Nick Oliveri"
        }
    ],
    "link": "Kyuss",
    "discovered": true
}

# Get JSON from the Brant Bjork page

In [4]:
brant = MWMusicalArtist.MWMusicalArtist("Brant Bjork").getDict()

In [5]:
print(json.dumps(brant, indent=4))

{
    "name": "Brant Bjork",
    "image": "Brant Bjork-Kyuss-IMG 5771.jpg",
    "caption": "Brant Bjork at the Eurock\u00e9ennes de [[Belfort]], 2011",
    "birth_date": "{{Birth date and age|1973|03|19}}",
    "birth_place": "[[Redlands, California]], U.S.",
    "origin": "[[Palm Springs, California]], U.S.",
    "genre": [
        {
            "link": "Stoner rock",
            "name": "Stoner rock"
        },
        {
            "link": "Palm Desert Scene",
            "name": "desert rock"
        },
        {
            "link": "Heavy metal music",
            "name": "heavy metal"
        },
        {
            "link": "hardcore punk",
            "name": "hardcore punk"
        }
    ],
    "discography": "[[Brant Bjork discography]]",
    "occupation": [
        {
            "name": "Musician"
        },
        {
            "name": "singer"
        },
        {
            "name": "songwriter"
        },
        {
            "name": "record producer"
        }
    ],
    "years_active": "1987\u2013present",
    "instrument": [
        {
            "name": "Drums"
        },
        {
            "name": "vocals"
        },
        {
            "name": "guitar"
        },
        {
            "name": "bass"
        }
    ],
    "label": [
        {
            "name": "El Camino"
        },
        {
            "link": "Duna Records",
            "name": "Duna"
        },
        {
            "link": "Man's Ruin Records",
            "name": "Man's Ruin"
        },
        {
            "name": "Low Desert Punk"
        },
        {
            "link": "Napalm Records",
            "name": "Napalm"
        },
        {
            "name": "Heavy Psych Sounds"
        }
    ],
    "current_member_of": [
        {
            "link": "St\u00f6ner",
            "name": "St\u00f6ner"
        },
        {
            "name": "Brant Bjork Trio"
        }
    ],
    "past_member_of": [
        {
            "link": "Kyuss",
            "name": "Kyuss"
        },
        {
            "link": "Fu Manchu (band)",
            "name": "Fu Manchu"
        },
        {
            "link": "Vista Chino",
            "name": "Vista Chino"
        },
        {
            "name": "Brant Bjork and the Bros"
        },
        {
            "name": "Brant Bjork and the Low Desert Punk Band"
        },
        {
            "link": "Ch\u00e9 (band)",
            "name": "Ch\u00e9"
        },
        {
            "link": "Mondo Generator",
            "name": "Mondo Generator"
        },
        {
            "link": "The Desert Sessions",
            "name": "The Desert Sessions"
        },
        {
            "name": "De-Con"
        },
        {
            "link": "Blast (band)",
            "name": "LAB"
        },
        {
            "link": "Ten East",
            "name": "Ten East"
        },
        {
            "link": "Fatso Jetson",
            "name": "Fatso Jetson"
        }
    ],
    "website": "{{URL|brantbjork.net}}",
    "link": "Brant Bjork",
    "discovered": true
}

# Insert the raw JSON into MongoDB

In [6]:
mongo_artist = mongo_db["mongo_artist"]
mongo_artist.drop()
res = mongo_artist.insert_one(kyuss)
res = mongo_artist.insert_one(brant)

In [7]:
for document in list(mongo_artist.find()):
  print(document["name"])

Kyuss
Brant Bjork

# Problems of the raw JSON approach

* Semi-structured data requires schema validation (possible in MongoDB).

# Problems of the structured JSON approach

* JSON documents are cool as long as you keep accessing data using the same path.  e.g.:
  * Band -> Member
  * Customer -> Order -> Order Item -> Product Details
 
  Trying to access the same data using another path in JSON leads to severe problems.
  
  Don't believe me? Check this out: https://dev.to/mongodb/mongodb-design-reviews-how-applying-schema-design-best-practices-resulted-in-a-60x-performance-improvement-56m5

    ![QR Code to the mongoDB article](./images/mongo-design.png)
  
# Better approach: use the relational model... Artists (or bands + musicians), members, spinoffs, genres, labels...

* More evolutive
  * declarative language abstracts how data is accessed
  * The impedance mismatch between the application and the database isn't the same across applications accessing the same data

# But... 

* **I would like to avoid rewriting my code to change the model**

# I cheated... I'm working on an Oracle Database already!

Oracle REST Data Services (ORDS) provides REST interfaces to the database.

Optionally, it provides MongoDB-compatible APIs

![ORDS exposes MongoDB APIs to the application to access the database](./images/ords-mongodb.png)

In [8]:
%sql oracle+oracledb://bands:BandsBands##123@bands0.dbbands/?service_name=pbands_rw

# How does the MongoB collection look like in Oracle?

In [9]:
%%sql
select column_name, data_type from user_tab_columns where table_name='MONGO_ARTIST'

     column_name     data_type
0             ID           RAW
1     CREATED_ON  TIMESTAMP(6)
2  LAST_MODIFIED  TIMESTAMP(6)
3        VERSION      VARCHAR2
4           DATA          JSON

In [10]:
%%sql
select a.data.name, json_serialize(a.data) from mongo_artist a

,name,JSON_SERIALIZE(A.DATA)
0,Kyuss,"{""_id"":""651d60220d9da7ecd08600c7"",""discography"":""[[Kyuss discography]]"",""past_members"":[{""link"":""Josh Homme"",""name"":""Josh Homme""},{""link"":""John Garcia (singer)"",""name"":""John Garcia""},{""link"":""Scott Reeder (bassist)"",""name"":""Scott Reeder""},{""link"":""Alfredo Hernández"",""name"":""Alfredo Hernández""},{""name"":""Chris Cockrell""},{""link"":""Brant Bjork"",""name"":""Brant Bjork""},{""link"":""Nick Oliveri"",""name"":""Nick Oliveri""}],""origin"":""[[Palm Desert, California]], U.S."",""alias"":[{""name"":""Katzenjammer (1987–1989)""},{""name"":""Sons of Kyuss (1989–1991)""}],""caption"":""Kyuss {{circa|1992}}. Left to right: [[Josh Homme]], [[Brant Bjork]], [[John Garcia (singer)|John Garcia]], [[Nick Oliveri]]."",""link"":""Kyuss"",""spinoffs"":[{""link"":""Vista Chino"",""name"":""Vista Chino""},{""link"":""Queens of the Stone Age"",""name"":""Queens of the Stone Age""},{""link"":""Mondo Generator"",""name"":""Mondo Generator""},{""link"":""Ché (band)"",""name"":""Ché""},{""link"":""Unida"",""name"":""Unida""},{""link"":""Hermano (band)"",""name"":""Hermano""},{""link"":""Slo Burn"",""name"":""Slo Burn""},{""link"":""The Desert Sessions"",""name"":""The Desert Sessions""},{""link"":""Eagles of Death Metal"",""name"":""Eagles of Death Metal""},{""link"":""Ten East"",""name"":""Ten East""},{""link"":""Stöner"",""name"":""Stöner""}],""years_active"":""1987–1995"",""background"":""group_or_band"",""genre"":[{""link"":""Stoner rock"",""name"":""Stoner rock""},{""link"":""Palm Desert Scene"",""name"":""desert rock""},{""link"":""Heavy metal music"",""name"":""heavy metal""}],""discovered"":true,""name"":""Kyuss"",""landscape"":""Yes"",""image"":""OldKyuss.jpg"",""label"":[{""name"":""Dali""},{""link"":""Chameleon Records"",""name"":""Chameleon""},{""link"":""Elektra Records"",""name"":""Elektra""},{""link"":""Bong Load Custom Records"",""name"":""Bong Load""},{""link"":""Man's Ruin"",""name"":""Man's Ruin""}]}"
1,Brant Bjork,"{""_id"":""651d60220d9da7ecd08600c8"",""discography"":""[[Brant Bjork discography]]"",""birth_place"":""[[Redlands, California]], U.S."",""instrument"":[{""name"":""Drums""},{""name"":""vocals""},{""name"":""guitar""},{""name"":""bass""}],""birth_date"":""{{Birth date and age|1973|03|19}}"",""origin"":""[[Palm Springs, California]], U.S."",""caption"":""Brant Bjork at the Eurockéennes de [[Belfort]], 2011"",""link"":""Brant Bjork"",""years_active"":""1987–present"",""past_member_of"":[{""link"":""Kyuss"",""name"":""Kyuss""},{""link"":""Fu Manchu (band)"",""name"":""Fu Manchu""},{""link"":""Vista Chino"",""name"":""Vista Chino""},{""name"":""Brant Bjork and the Bros""},{""name"":""Brant Bjork and the Low Desert Punk Band""},{""link"":""Ché (band)"",""name"":""Ché""},{""link"":""Mondo Generator"",""name"":""Mondo Generator""},{""link"":""The Desert Sessions"",""name"":""The Desert Sessions""},{""name"":""De-Con""},{""link"":""Blast (band)"",""name"":""LAB""},{""link"":""Ten East"",""name"":""Ten East""},{""link"":""Fatso Jetson"",""name"":""Fatso Jetson""}],""genre"":[{""link"":""Stoner rock"",""name"":""Stoner rock""},{""link"":""Palm Desert Scene"",""name"":""desert rock""},{""link"":""Heavy metal music"",""name"":""heavy metal""},{""link"":""hardcore punk"",""name"":""hardcore punk""}],""website"":""{{URL|brantbjork.net}}"",""discovered"":true,""current_member_of"":[{""link"":""Stöner"",""name"":""Stöner""},{""name"":""Brant Bjork Trio""}],""name"":""Brant Bjork"",""image"":""Brant Bjork-Kyuss-IMG 5771.jpg"",""occupation"":[{""name"":""Musician""},{""name"":""singer""},{""name"":""songwriter""},{""name"":""record producer""}],""label"":[{""name"":""El Camino""},{""link"":""Duna Records"",""name"":""Duna""},{""link"":""Man's Ruin Records"",""name"":""Man's Ruin""},{""name"":""Low Desert Punk""},{""link"":""Napalm Records"",""name"":""Napalm""},{""name"":""Heavy Psych Sounds""}]}"

In [11]:
%%sql
select a.data.name, coalesce(a.data.past_members[*].name, a.data.past_member_of[*].name) as "member or member_of" from mongo_Artist a

,name,member or member_of
0,Kyuss,"[Josh Homme, John Garcia, Scott Reeder, Alfredo Hernández, Chris Cockrell, Brant Bjork, Nick Oliveri]"
1,Brant Bjork,"[Kyuss, Fu Manchu, Vista Chino, Brant Bjork and the Bros, Brant Bjork and the Low Desert Punk Band, Ché, Mondo Generator, The Desert Sessions, De-Con, LAB, Ten East, Fatso Jetson]"

# We want to build the relational schema

We are building the schema using this model:

![relational schema model](./images/relational-schema.png)

create domain artist_type as varchar2(15)
  constraint artist_type_chk check (artist_type in ('person','group_or_band'))
  order      artist_type;

create table artists (
  id               varchar2(30) not null ,
  name             varchar2(255) not null unique,
  link             varchar2(255),
  type             domain artist_type not null,
  extras           JSON,   -- <------------- ADDING THIS TO THE ABOVE MODEL
  discovered       boolean default false,
  error            varchar2(30),
  constraint artists_pk primary key(id)
);


create table genres (
  id               varchar2(30) not null ,
  name             varchar2(255) not null unique,
  constraint genres_pk primary key(id)
);


create table artist_genres (
  id               integer generated by default on null as identity,
  genre_id         varchar2(30) not null ,
  artist_id        varchar2(30) not null ,
  constraint artist_genres_artists_fk foreign key (artist_id) references artists(id),
  constraint artist_genres_genres_fk foreign key (genre_id) references genres(id),
  constraint artist_genres_pk primary key(id)
);

create table labels (
  id               varchar2(30) not null ,
  name             varchar2(255) not null unique,
  constraint labels_pk primary key(id)
);

create table artist_labels (
  id               integer generated by default on null as identity,
  label_id         varchar2(30) not null ,
  artist_id        varchar2(30) not null ,
  constraint artist_labels_artists_fk foreign key (artist_id) references artists(id),
  constraint artist_labels_labels_fk foreign key (label_id) references labels(id),
  constraint artist_labels_pk primary key(id)
);

create table members (
  id               integer generated by default on null as identity,
  band_id          varchar2(30) not null,
  member_id        varchar2(30) not null,
  constraint members_band_fk foreign key (band_id) references artists(id),
  constraint members_member_fk foreign key (member_id) references artists(id),
  constraint members_pk primary key(id)
);

create table spinoffs (
  id               integer generated by default on null as identity,
  band_id          varchar2(30) not null,
  spinoff_id       varchar2(30) not null,
  constraint spinoffs_band_fk foreign key (band_id) references artists(id),
  constraint spinoffs_spinoff_fk foreign key (spinoff_id) references artists(id),
  constraint spinoffs_pk primary key(id)
);

In [12]:
%%sql
select table_name, column_name, data_type from user_tab_columns order by table_name, column_id

       table_name    column_name     data_type
0         ARTISTS             ID      VARCHAR2
1         ARTISTS           NAME      VARCHAR2
2         ARTISTS           LINK      VARCHAR2
3         ARTISTS           TYPE      VARCHAR2
4         ARTISTS         EXTRAS          JSON
5         ARTISTS     DISCOVERED       BOOLEAN
6         ARTISTS          ERROR      VARCHAR2
7   ARTIST_GENRES             ID        NUMBER
8   ARTIST_GENRES       GENRE_ID      VARCHAR2
9   ARTIST_GENRES      ARTIST_ID      VARCHAR2
10  ARTIST_LABELS             ID        NUMBER
11  ARTIST_LABELS       LABEL_ID      VARCHAR2
12  ARTIST_LABELS      ARTIST_ID      VARCHAR2
13         GENRES             ID      VARCHAR2
14         GENRES           NAME      VARCHAR2
15         LABELS             ID      VARCHAR2
16         LABELS           NAME      VARCHAR2
17        MEMBERS             ID        NUMBER
18        MEMBERS        BAND_ID      VARCHAR2
19        MEMBERS      MEMBER_ID      VARCHAR2
20   MONGO_ARTIST             ID           RAW
21   MONGO_ARTIST     CREATED_ON  TIMESTAMP(6)
22   MONGO_ARTIST  LAST_MODIFIED  TIMESTAMP(6)
23   MONGO_ARTIST        VERSION      VARCHAR2
24   MONGO_ARTIST           DATA          JSON
25       SPINOFFS             ID        NUMBER
26       SPINOFFS        BAND_ID      VARCHAR2
27       SPINOFFS     SPINOFF_ID      VARCHAR2

# Oracle Database 23c solves the impedance mismatch with the JSON Relational Duality Views 

![Duality Views transparently convert relational data to JSON, bidirectionally](./images/json-relational.png)

# Creating Duality Views using GraphQL

In [15]:
%%sql
create or replace json relational duality view artist_short as
  artists @insert @update @delete @nocheck
  {
    _id     : id
    name    : name
    link    : link
    type    : type
    extras  : extras
    discovered : discovered
    error   : error
  }

Empty DataFrame
Columns: []
Index: []

# Testing a simple view

In [17]:
example=dict({
    "name": "Example Band",
    "link": "Example Band",
    "type": "group_or_band",
    "discovered": True,
	"error": "",
    "extras": {
        "image": "example.jpg",
        "caption": "Just an example band.",
        "landscape": "Yes",
        "origin": "Switzerland",
        "years_active": "1979\u20132023",
        "genre": [
            {
                "link": "Palm Desert Scene",
                "name": "desert rock"
            }
            
        ],
        "label": [
            {
                "name": "Dali"
            }
        ],
        "members": [
            {
                "link": "Ludovico Caldara",
                "name": "Ludovico Caldara"
            }
        ]
    }
})
artist_short = mongo_db["artist_short"]
res = artist_short.insert_one(example)

In [18]:
%%sql result <<
select * from artist_short a where a.data.name='Example Band'

Returning data to local variable result

In [19]:
print(json.dumps(result['data'][0], indent=4, default=str))

{
    "_id": "651d6e000d9da7ecd08600cb",
    "name": "Example Band",
    "link": "Example Band",
    "type": "group_or_band",
    "extras": {
        "image": "example.jpg",
        "caption": "Just an example band.",
        "landscape": "Yes",
        "origin": "Switzerland",
        "years_active": "1979\u20132023",
        "genre": [
            {
                "link": "Palm Desert Scene",
                "name": "desert rock"
            }
        ],
        "label": [
            {
                "name": "Dali"
            }
        ],
        "members": [
            {
                "link": "Ludovico Caldara",
                "name": "Ludovico Caldara"
            }
        ]
    },
    "discovered": true,
    "error": null,
    "_metadata": {
        "etag": "b'U\\xef\\xf1ti\\xf2\\x04\\xa5\\xb1o\\x1fr\\x9ahk\\xe0'",
        "asof": "b'\\x00\\x00\\x00\\x00\\x00k\\xb0\\x1e'"
    }
}

In [20]:
%%sql
select * from artists a where name='Example Band'

,id,name,link,type,extras,discovered,error
0,651d6e000d9da7ecd08600cb,Example Band,Example Band,group_or_band,"{'image': 'example.jpg', 'caption': 'Just an example band.', 'landscape': 'Yes', 'origin': 'Switzerland', 'years_active': '1979–2023', 'genre': [{'link': 'Palm Desert Scene', 'name': 'desert rock'}], 'label': [{'name': 'Dali'}], 'members': [{'link': 'Ludovico Caldara', 'name': 'Ludovico Caldara'}]}",True,None

# Not there yet. Let's create a more complex view

In [21]:
%%sql
create or replace json relational duality view artist as
  artists @insert @update @delete
  {
    _id     : id
    name    : name
    link    : link
    type    : type
    extras  : extras
    discovered : discovered
    error   : error
    member_of : members @insert @update @delete @link(to: ["MEMBER_ID"])
      [
        {
          belonging_band_id : id
          artists @noinsert @update @nodelete @unnest @link(from: ["BAND_ID"])
          {
            id : id
            name : name
            link : link
            type : type
            extras  : extras
            discovered : discovered
            error   : error
          }
        }
      ]
    members : members @insert @update @delete @link(to: ["BAND_ID"])
      [
        {
          members_id : id
          artists @noinsert @update @nodelete @unnest @link(from: ["MEMBER_ID"])
          {
            id : id
            name : name
            link : link
            type : type
            extras  : extras
            discovered : discovered
            error   : error
          }
        }
      ]
    spinoff_of : spinoffs @insert @update @delete @link(to: ["SPINOFF_ID"])
      [
        {
          spinoff_of_id : id
          artists @noinsert @update @nodelete @unnest @link(from: ["BAND_ID"])
          {
            id : id
            name : name
            link : link
            type : type
            extras  : extras
            discovered : discovered
            error   : error
          }
        }
      ]
    spinoffs : spinoffs @insert @update @delete @link(to: ["BAND_ID"])
      [
        {
          spinoffs_id : id
          artists @noinsert @update @nodelete @unnest @link(from: ["SPINOFF_ID"])
          {
            id : id
            name : name
            link : link
            type : type
            extras  : extras
            discovered : discovered
            error   : error
          }
        }
      ]
    genre   : artist_genres @insert @update @delete
      [
        {
          artist_genres_id : id
          genres @noinsert @update @nodelete @unnest
          {
            id : id
            name : name
          }
        }
      ]
    label   : artist_labels @insert @update @delete
      [
        {
          artist_labels_id : id
          labels @noinsert @update @nodelete @unnest
          {
            id : id
            name : name
          }
        }
      ]
  }

Empty DataFrame
Columns: []
Index: []

# And bonus, additional duality views to show collections for other entities

In [22]:
%%sql
create or replace json relational duality view genre as
  genres @insert @update @delete @nocheck
  {
    _id     : id
    name    : name
  }

Empty DataFrame
Columns: []
Index: []

In [23]:
%%sql
create or replace json relational duality view label as
  labels @insert @update @delete @nocheck
  {
    _id     : id
    name    : name
  }

Empty DataFrame
Columns: []
Index: []

# Let's try with the complex view

In [27]:
%%sql
delete from artists

Empty DataFrame
Columns: []
Index: []

In [28]:
%%sql
commit

Empty DataFrame
Columns: []
Index: []

In [35]:
example=dict({
    "name": "Example Band",
    "link": "Example Band",
    "type": "group_or_band",
    "discovered": True,
	"error": "",
    "extras": {
        "image": "example.jpg",
        "caption": "Just an example band.",
        "landscape": "Yes",
        "origin": "Switzerland",
        "years_active": "1979\u20132023",
    },
    "genre": [
        {
            "name": "desert rock"
        }
    ],
    "label": [
        {
            "name": "Dali"
        }
    ],
    "members": [
        {
            "link": "Ludovico Caldara",
            "name": "Ludovico Caldara",
            "type" : "person",
            "extras"  : "",
            "discovered" : False,
            "error"   : ""
        }
    ]
})

In [30]:
artist = mongo_db["artist"]
res = artist.insert_one(example)

WriteError: ORA-40937: Cannot insert into table 'GENRES' in JSON Relational Duality View 'ARTIST': Missing INSERT annotation or NOINSERT annotation specified.
, full error: {'index': 0, 'errmsg': "ORA-40937: Cannot insert into table 'GENRES' in JSON Relational Duality View 'ARTIST': Missing INSERT annotation or NOINSERT annotation specified.\n", 'code': -1}

# A current limitation of Duality Views is that the dependent record in an N-M relationship must already exist
## This limitation does not exist for 1-M relationships

Basically, you have to quickly loop through the arrays and insert the dependent records.

In [36]:
for prop in ["label", "genre"]:
  coll = mongo_db[prop]
  for index, label in enumerate(example[prop]):
    res = coll.insert_one(example[prop][index])
    example[prop][index]["id"] = str(res.inserted_id)
    del (example[prop][index]["_id"])

coll = mongo_db["artist_short"]
for index, label in enumerate(example["members"]):
  res = coll.insert_one(example["members"][index])
  example["members"][index]["id"] = str(res.inserted_id)
  del (example["members"][index]["_id"])

In [38]:
print (json.dumps(example, indent=4))

{
    "name": "Example Band",
    "link": "Example Band",
    "type": "group_or_band",
    "discovered": true,
    "error": "",
    "extras": {
        "image": "example.jpg",
        "caption": "Just an example band.",
        "landscape": "Yes",
        "origin": "Switzerland",
        "years_active": "1979\u20132023"
    },
    "genre": [
        {
            "name": "desert rock",
            "id": "651d723a0d9da7ecd08600d2"
        }
    ],
    "label": [
        {
            "name": "Dali",
            "id": "651d723a0d9da7ecd08600d1"
        }
    ],
    "members": [
        {
            "link": "Ludovico Caldara",
            "name": "Ludovico Caldara",
            "type": "person",
            "extras": "",
            "discovered": false,
            "error": "",
            "id": "651d723a0d9da7ecd08600d3"
        }
    ]
}

And then the insert will work

In [39]:
artist = mongo_db["artist"]
res = artist.insert_one(example)

In [41]:
example["_id"] = str(example["_id"])
print (json.dumps(example, indent=4))

{
    "name": "Example Band",
    "link": "Example Band",
    "type": "group_or_band",
    "discovered": true,
    "error": "",
    "extras": {
        "image": "example.jpg",
        "caption": "Just an example band.",
        "landscape": "Yes",
        "origin": "Switzerland",
        "years_active": "1979\u20132023"
    },
    "genre": [
        {
            "name": "desert rock",
            "id": "651d723a0d9da7ecd08600d2"
        }
    ],
    "label": [
        {
            "name": "Dali",
            "id": "651d723a0d9da7ecd08600d1"
        }
    ],
    "members": [
        {
            "link": "Ludovico Caldara",
            "name": "Ludovico Caldara",
            "type": "person",
            "extras": "",
            "discovered": false,
            "error": "",
            "id": "651d723a0d9da7ecd08600d3"
        }
    ],
    "_id": "651d72d90d9da7ecd08600d4"
}

# Now when a document is changed, the updates apply to all the documents using its base record